* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: silver;
  font-family: "Racing Sans One", cursive;
}
body {
  background: #030302;
  min-height: 100vh;
}
.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  position: fixed;
  top: -110%;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  transition: all 0.3s linear;
  background: #030302;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
}

.landing {
  height: 100vh;
}

.home-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.homepage-image {
  position: absolute;
  z-index: -1;
  border-radius: 100px;
  border: 5px solid silver;
}

.home-details {
  position: absolute;
  top: 45%;
  right: 20%;
}

.aboutpage-image {
  width: 461px;
  margin: 5%;
  border-radius: 100px;
  border: 5px solid silver;
  align-items: center;
}

.about-details {
  display: flex;
  margin: 5%;
  align-items: center;
}

.experience-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
}

.experience-line {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 5;
  justify-self: center;
  padding: 5px;
}

.experience-item {
  border-radius: 50px;
  margin: 10px 10%;
  padding: 10px 10%;
}

.experience-container {
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: 1fr 200px 1fr;
}
.experience-line {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item1 {
  grid-column: 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.slider-container {
  display: flex;
  align-self: center;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10% 10px;
}

.owl-carousel {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 20px;
}

.items {
  display: flex;
  border-radius: 50px;
  background: rgba(128, 128, 128, 0.664);
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slider-text {
  font-size: 25px;
  margin-bottom: 10px;
  color: silver;
}

.owl-carousel {
  padding: 25px;
}
.slider-container {
  width: 100%;
  height: 100%;
}
.items {
  display: flex;
  flex-direction: column;
}

.testimonial-card-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.card-content {
  background-color: rgba(128, 128, 128, 0.301);
  width: 48%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  flex: 0 1 150%;
}

.card-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

#contact-form {
  border-radius: 50px;
  background: #030302;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input {
  border-radius: 50px;
  box-shadow: rgba(128, 128, 128, 0.301);
  background: rgba(128, 128, 128, 0.301);
  padding: 10px;
  border: none;
  outline: none;
  color: silver;
}

.form-input::placeholder {
  color: black;
}

.form-label {
  display: none;
}

.button {
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 2% 5%;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.301);
  color: #030302;
}

.about-button {
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 2% 5%;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.301);
}

#made-by-zoe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  width: 60%;
}

.footer {
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homepage-icons {
  position: absolute;
  top: 60%;
  right: 25%;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.homepage-icons a {
  font-size: 30px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.skills-content {
  font-size: 70px;
}

.about-container {
  height: 100%;
  position: relative;
}

.footer-about {
  margin-top: 50px;
}